<div class="row">
  <form (ngSubmit)="onSubmit()">
    <input type="text" name="city" [(ngModel)]="city" class="form-control">
    <button type="submit" class="form-element" class="btn btn-default" [disabled]="!requestComplete"> Go! </button>
  </form>
  <div>
    <div>
      <form>
        <input type="radio" name="temp-scale" value="kelvin" [ngModel]="tempScale" (ngModelChange)="updateTempScale($event)"> Kelvin
        <input type="radio" name="temp-scale" value="celcius" [ngModel]="tempScale" (ngModelChange)="updateTempScale($event)"> Celcius
        <input type="radio" name="temp-scale" value="farenheit" [ngModel]="tempScale" (ngModelChange)="updateTempScale($event)"> Farenheit
      </form>
    </div>
    <div class="weather-result" *ngIf="response">
      <div class='left-pane'>
          <img src="{{countryFlagURL}}" alt="Loading.." width="100" height="75">
      </div>
      <div class='right-pane'>
        <table border="1">
          <tr>
            <td> CITY </td>
            <td> {{ response.name | uppercase }} </td>
          </tr>
          <tr>
            <td> COUNTRY </td>
            <td> {{ response.sys.country }} </td>
          </tr>
          <tr>
            <td> TEMP </td>
            <td> {{ response.main.temp }} </td>
          </tr>
          <tr>
            <td> T-Max </td>
            <td> {{ response.main.temp_max }} </td>
          </tr>
          <tr>
            <td> T-Min </td>
            <td> {{ response.main.temp_min }} </td>
          </tr>
        </table>
      </div>
    </div>
    <pre>{{ this | json }}</pre>
  </div>
</div>